
<main class="v-main" style="--v-layout-left: 0px; --v-layout-right: 0px; --v-layout-top: 64px; --v-layout-bottom: 96px;">
    <app-standard-header></app-standard-header>
    <h1 class="page-tit">Menu principal</h1>
    <div class="v-container v-locale--is-ltr">
        <div class="v-row">
            <app-main-card cardTitle="PERFIL PERSONAL" imagen="mdi-account-box-outline"></app-main-card>
            <app-main-card cardTitle="REGISTRO DE PROGRAMAS" imagen="mdi-text-box-plus-outline"></app-main-card>
            <app-main-card cardTitle="DOCENTES" imagen="mdi-account-search-outline"></app-main-card>
        </div>
        <div class="v-row">
            <app-main-card cardTitle="POSTULANTE" imagen="mdi-account-question-outline"></app-main-card>
            <app-main-card cardTitle="PROGRAMAS" imagen="mdi-text-box-outline"></app-main-card>
            <app-main-card cardTitle="CERTIFICACIONES DOCENTES" imagen="mdi-certificate-outline"></app-main-card>
        </div>
    </div>
    <app-standard-footer></app-standard-footer>       
</main>