<footer data-v-15925d9e class="v-footer v-theme--light custom-footer" style="bottom: 0px; z-index: 1004; transform: translateY(0%); position: fixed; left: 0px; width: calc(100% + 0px);">
    <div data-v-15925d9e class="v-container v-container--fluid v-locale--is-ltr">
    <div data-v-15925d9e class="v-row">
        <div data-v-15925d9e class="v-col-md-6 v-col-12 text-center text-md-left">
            <app-media-social-button link="https://www.facebook.com/esamcochabambasucursal" imagen="mdi-facebook" class="space-media"></app-media-social-button>
            <app-media-social-button link="https://www.linkedin.com/company/esam-cochabamba/" imagen="mdi-linkedin" class="space-media"></app-media-social-button>
            <app-media-social-button link="https://www.instagram.com/esamcochabambasucursal/" imagen="mdi-instagram" class="space-media"></app-media-social-button>
        </div>
        <div data-v-15925d9e class="v-col-md-6 v-col-12 text-center text-md-right">
               
                <span data-v-15925d9e>© 2024 ESAM COCHABAMBA SUCURSAL</span>
        </div>
    </div>
    </div>
</footer>