
<div class="v-col">
    <button type="button"
    class="v-btn v-btn--elevated v-theme--light v-btn--density-default v-btn--variant-elevated button-style"
    style="height: 300px; width: 300px;">
    <span class="v-btn__overlay"></span>
    <span class="v-btn__underlay"></span><!---->
    <span class="v-btn__content" data-no-activator>
        <i class="{{imagen}} mdi v-icon notranslate v-theme--light" aria-hidden="true" style="font-size: 200px; height: 200px; width: 200px;"></i>
        <h3 class="text-position">{{cardTitle}}</h3>
    </span><!----><!---->
    </button>
</div>